{% extends 'base.html' %}
{% block content %} 
This is Deposit Page

<br>
<hr>
<div class="container">
    <form action='/deposit' method="post">
        <div class="form-group">
          <label for="exampleInputEmail1">Deposit Amount</label>
          <input type="text" name = "deposit" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Username">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
{% endblock %}